
  *{
    margin: 0;
  }
  .topnav {
    background-color: white;
    overflow: hidden;
    padding: 20px;
    margin: 0;
    position: fixed;
    width: 100%;
    border-bottom: solid 1px #3a3a3a;
  }
  .topnav a {
  float: left;
  color: #242222;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
  font-size: 17px;
  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}
.card {
  font-family: "Helvetica";
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 50px;
  display: flex;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  margin: 50px;
  width: 550px;
  padding: 50px;
}

.header-text{
  font-size: 50px;
  padding-bottom: 15px;
}
.sub-header{
  color: gray;
  padding-bottom: 15px;
}
.claim{
  display: flex;
  margin-top: 15px;
}
.claims-1{
  margin-top: 5px;
  padding: 0cm;
}
.sub-claims{
  padding-left: 0px;
  color:gray;
}
.img_1{
  width: 546px;
  height: 625px;
}
.card2 {
  font-family: "Helvetica";
  
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* transition: 0.3s; */
  margin: 50px;
  padding: 50px 125px 50px 100px;
  /* display: flex; */
}

/* On mouse-over, add a deeper shadow */
.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {background-color: #f2f2f2;}

